a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

.section-blog {
    font-family: "Poppins", sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-blog .header-section {
    margin-bottom: 20px;
}

.section-blog .header-section .sm-title {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.section-blog .header-section .sm-title:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-12px, -50%);
    width: 50px;
    height: 3px;
    background-color: rgb(15, 157, 182);
}

.section-blog .header-section .sm-title:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(12px, -50%);
    width: 50px;
    height: 3px;
    background-color: rgb(15, 157, 182);
}

.section-blog .header-section .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1em;
}

.section-blog .header-section .title span {
    color: rgb(15, 157, 182);
}

.section-blog .single-blog {
    margin-top: 40px;
    margin-left: 30px;
}

.section-blog .single-blog ul {
    margin-bottom: 10px;
    text-align: right;
}

.section-blog .single-blog ul li {
    display: inline-block;
}

.section-blog .single-blog ul li {
    padding: 2px 8px;
    border-right: 1px solid #ddd;
}

.section-blog .single-blog ul li:last-child {
    border-right: none;
}

.section-blog .single-blog ul .tags a {
    color: #0724fa;
    font-size: 15px;
    text-decoration: none;
}

.section-blog .single-blog ul .date {
    color: #777698;
}

.section-blog .single-blog .content {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 30px 10px rgba(119, 118, 152, .2);
    border-radius: 10px;
    transition: box-shadow .3s;
}

.section-blog .single-blog:hover .content {
    box-shadow: 0 10px 30px 10px rgba(119, 118, 152, .3);
}

.section-blog .single-blog .content .image-and-more {
    position: relative;
    margin-bottom: 30px;
}

.section-blog .single-blog .content .image-and-more .image {
    position: absolute;
    bottom: 0;
    left: -60px;
    background-color: rgb(15, 157, 182);
    border-radius: 10px;
}

.section-blog .single-blog .content .image-and-more .image img {
    width: 110px;
    transform: translate(-10px, -10px);
    border-radius: 10px;
}

.section-blog .single-blog .content .read-more {
    display: inline-block;
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    line-height: 25px;
    transition: all .3s;
}

.section-blog .single-blog .content .read-more:hover {
    background-color: rgb(15, 157, 182);
    color: #fff;
}

.section-blog .single-blog .content .read-more .text {
    padding-right: 15px;
    padding-left: 20px;
}


.section-blog .single-blog .content .read-more .icon img {
    width: 5px;
    height: 5px;
}

.section-blog .single-blog .content .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.section-blog .single-blog .content .writer {
    text-align: right;
    font-size: 14px;
    opacity: 0.9;
}