/* Parallax animation effects */
.hero-carousel .carousel-item .carousel-image {
    transform: scale(1) translateX(0);
    transition: all 0.6s;
}

.hero-carousel .carousel-item.carousel-item-next .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-right .carousel-image {
    transform: scale(1.3) translateX(-50%);
}

.hero-carousel .carousel-item.carousel-item-prev .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-left .carousel-image {
    transform: scale(1.3) translateX(50%);
}

.hero-carousel .carousel-item.carousel-item-next.carousel-item-left .carousel-image,
.hero-carousel .carousel-item.carousel-item-prev.carousel-item-right .carousel-image {
    transform: scale(1);
    transform: scale(1) translateX(0);
}


/* Makes carousel full screen */
.hero-carousel .carousel-item {
    height: 100hv;
    overflow: hidden;
}

.hero-carousel .carousel-item .carousel-image {
    height: 725px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* Ignore this CSS */
#carouselExampleIndicators {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------------
Owl content styling
-----------------------------------*/
.slide-content {
    position: absolute;
    /* right: 0; */
    top: 30%;
    width: 90%;
    height: 300px;
    padding: 70px 170px 0px;
    text-align: left;
    transform-origin: top;
    color: #fff;
}


.slide-content h3 {
    font-weight: bold;
    font-size: 25px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.slide-content h2 {
    color: #f9f9f9;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slide-content .paragraph {
    /* line-height: 1.2em; */
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, .8);
    font-size: 45px;
    font-weight: bold;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    line-height: 50px;
}

.slide-content p {
    /* line-height: 1.2em; */
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, .8);
    font-weight: bold;
    font-size: 17px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    line-height: 0px;
}

/* animate content */
.owl-item.active .slide-content {
    transform: translate(-20%, 0%) rotate3d(1, 0, 0, 0);
    transition-delay: .7s
}

.owl-item.active h3,
.owl-item.active h2,
.owl-item.active p,
.owl-item.active h3:before,
.owl-item.active h3:after {
    transform: translate3d(0, 0, 1px);
    transition-delay: 1s
}

/* ASLI */

/* @media screen and (max-width: 600px) {
    #jadikecil {
        display: none;
    }

    #jadibesar {
        display: block !important;
    }

    #tolong {
        width: 100% !important;
    }

    .bg-body-service {
        background-image: none;
        background-color: #cccdcf;
    }

    .slide-content{
        width: 100%;
        height: 100hv; 
        text-align: center;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 300px;
        padding: 70px 00px 0px;
        text-align: center;
        transform-origin: top;
        color: #fff;
    }
    
    .slide-content h3 {
        text-align: center;
        font-size: 25px;
        margin-top: -10px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 15px;
    }
    
    .slide-content h3:before,
    .slide-content h3:after {
    }
    

    .slide-content .paragraph {
        text-align: center;
        font-size: 25px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 30px;
    }
    
    .slide-content p {
        text-align: center;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 18px;
    }
    
}

@media screen and (max-width: 999px) {
    #jadikecil {
        display: none;
    }

    #jadibesar {
        display: block !important;
    }

    #tolong {
        width: 60% !important;
    }

    .slide-content{
        width: 100%;
        height: 100hv; 
        text-align: center;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 300px;
        padding: 70px 00px 0px;
        text-align: center;
        transform-origin: top;
        color: #fff;
    }
    
    .slide-content h3 {
        text-align: center;
        font-size: 25px;
        margin-top: -10px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
    
    .slide-content h3:before,
    .slide-content h3:after {
    }
    

    .slide-content .paragraph {
        text-align: center;
        font-size: 25px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
    
    .slide-content p {
        text-align: center;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 18px;
    }
} */

@media all and (min-width: 768px) and (max-width: 1024px) {
    #jadikecil {
        display: none;
    }

    #jadibesar {
        display: block !important;
    }

    #tolong {
        width: 60% !important;
    }

    .slide-content{
        width: 100%;
        height: 100hv; 
        text-align: center;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 300px;
        padding: 70px 00px 0px;
        text-align: center;
        transform-origin: top;
        color: #fff;
    }
    
    .slide-content h3 {
        text-align: center;
        font-size: 25px;
        margin-top: -10px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
    
    .slide-content h3:before,
    .slide-content h3:after {
    }
    

    .slide-content .paragraph {
        text-align: center;
        font-size: 25px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
    
    .slide-content p {
        text-align: center;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 18px;
    }
 }
 
@media all and (min-width: 480px) and (max-width: 768px) {
    #jadikecil {
        display: none;
    }

    #jadibesar {
        display: block !important;
    }

    #tolong {
        width: 100% !important;
    }

    .bg-body-service {
        background-image: none;
        background-color: #cccdcf;
    }

    .slide-content{
        width: 100%;
        height: 100hv; 
        text-align: center;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 300px;
        padding: 70px 00px 0px;
        text-align: center;
        transform-origin: top;
        color: #fff;
    }
    
    .slide-content h3 {
        text-align: center;
        font-size: 25px;
        margin-top: -10px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 15px;
    }
    
    .slide-content h3:before,
    .slide-content h3:after {
    }
    

    .slide-content .paragraph {
        text-align: center;
        font-size: 25px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 30px;
    }
    
    .slide-content p {
        text-align: center;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 18px;
    }
 }
 
@media all and (max-width: 480px) { 
    #jadikecil {
        display: none;
    }

    #jadibesar {
        display: block !important;
    }

    #tolong {
        width: 100% !important;
    }

    .bg-body-service {
        background-image: none;
        background-color: #cccdcf;
    }

    .slide-content{
        width: 100%;
        height: 100hv; 
        text-align: center;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 300px;
        padding: 70px 00px 0px;
        text-align: center;
        transform-origin: top;
        color: #fff;
    }
    
    .slide-content h3 {
        text-align: center;
        font-size: 25px;
        margin-top: -10px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 15px;
    }
    
    .slide-content h3:before,
    .slide-content h3:after {
    }
    

    .slide-content .paragraph {
        text-align: center;
        font-size: 25px;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 30px;
    }
    
    .slide-content p {
        text-align: center;
        text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        line-height: 18px;
    }

    .hero-carousel .carousel-item .carousel-image {
        height: 600px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Scroll Down */
    .scroll-down {
        height: 50px;
        width: 30px;
        /* border: 2px solid white; */
        position: absolute;
        left: 47%;
        bottom: 20px;
        border-radius: 50px;
        cursor: pointer;
    }
    .scroll-down::before,
    .scroll-down::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 47%;
        height: 20px;
        width: 20px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 4px solid white;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }
}