* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #0093dd;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform .action-button {
    width: 100px;
    background: #90c6e0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #006192
}

#msform .action-button-previous {
    width: 120px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #0093dd;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #0093dd;
    font-weight: normal
}

.steps {
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #0093dd
}

#progressbar li {
    list-style-type: none;
    font-size: 14px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f1ae"
}

#progressbar #kematian:before {
    font-family: FontAwesome;
    content: "\f235"
}

#progressbar #ortu:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #saksi:before {
    font-family: FontAwesome;
    content: "\f0c0"
}

#progressbar #persyaratan:before {
    font-family: FontAwesome;
    content: "\f0c6"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0093dd
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #0093dd
}

.fit-image {
    width: 100%;
    object-fit: cover
}


/* Proggressbar 2 */
#progressbar2 {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar2 .active {
    color: #0093dd
}

#progressbar2 li {
    list-style-type: none;
    font-size: 14px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar2 #account:before {
    font-family: FontAwesome;
    content: "\f1ae"
}

#progressbar2 #home:before {
    font-family: FontAwesome;
    content: "\f015"
}

#progressbar2 #move:before {
    font-family: FontAwesome;
    content: "\f1d9"
}

#progressbar2 #tujuan:before {
    font-family: FontAwesome;
    content: "\f041"
}

#progressbar2 #kematian:before {
    font-family: FontAwesome;
    content: "\f235"
}

#progressbar2 #ortu:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar2 #saksi:before {
    font-family: FontAwesome;
    content: "\f0c0"
}

#progressbar2 #persyaratan:before {
    font-family: FontAwesome;
    content: "\f0c6"
}

#progressbar2 #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar2 li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar2 li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar2 li.active:before,
#progressbar2 li.active:after {
    background: #0093dd
}