@charset "UTF-8";

/*-----------------------------------------------------------------
[Main Stylesheet]

Project       :    Kelurahan Banaran
Version       :    1.0
Last change   :    5 Oktober 2020
Primary use   :    Kelurahan Banaran -  HTML Template
Created By    :    @alvicky__


-------------------------------------------------------------------

01. Header
02. Body
03. Widget
04. Footer
05. Blog
06. Assets & Typography

-------------------------------------------------------------------*/
html {
  height: 100%;
  scroll-behavior: smooth;
}

/*
===============================
    [01. Header]
===============================
*/

header {
  position: fixed;
  z-index: 9;
}

nav {
  font-size: 14px;
  font-family: "Poppins";

}

.bg-navbar-banaran {

  background: #0093dd;
  ;
  color: #008dde;
}

.navbar-banaran .navbar-brand {
  color: rgb(25, 208, 240);
}

.navbar-banaran .navbar-brand:hover,
.navbar-banaran .navbar-brand:focus {
  color: rgb(25, 208, 240);
}

.navbar-banaran .navbar-nav .nav-link {
  color: #ffff;
}

.navbar-banaran .navbar-nav .nav-link:hover,
.navbar-banaran .navbar-nav .nav-link:focus {
  color: #5e5c5b;
}

.navbar-banaran .navbar-nav .nav-link.disabled {
  color: rgb(72, 74, 75);
}

.navbar-banaran .navbar-nav .show>.nav-link,
.navbar-banaran .navbar-nav .active>.nav-link,
.navbar-banaran .navbar-nav .nav-link.show,
.navbar-banaran .navbar-nav .nav-link.active {
  color: #5e5c5b;
}

.navbar-banaran .navbar-toggler {
  color: #5e5c5b;
}

.navbar-banaran .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 252, 252)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-banaran .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-banaran .navbar-text a {
  color: #ffff;
}

.navbar-banaran .navbar-text a:hover,
.navbar-banaran .navbar-text a:focus {
  color: #5e5c5b;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
  color: #5e5c5b;
}

.dropdown-menu {
  margin-top: 0;
  background-color: #0093dd;
  ;
  color: #fff;
  ;
}

.dropdown-menu a {
  color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #5e5c5b;
  background-color: #0093dd;
  ;
}

a.dropdown-item.active {
  color: #5e5c5b;
  background-color: #0093dd;
  ;
}

a.dropdown-item {
  margin-top: 0;
  background-color: #0093dd;
  ;
  color: #fff;
  ;
}

/*
===============================
    [02. Body]
===============================
*/

body {
  font-family: "Poppins";
  font-size: 15px;
  line-height: 23px;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
}

a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #000;
}

a:hover {
  color: #00aeff;
  text-decoration: none;
}

a:focus {
  color: #00aeff;
  outline: none;
  text-decoration: none;
}

a:active {
  color: #00aeff;
  outline: none;
  text-decoration: none;
}

.btn-primary-travlez {
  background-color: #0864b2;
  border: none;
  border-radius: 0px;
  font-size: 15px;
}

.btn-primary-travlez:hover {
  background-color: #00aeff;
}

input {
  background-color: #f9f9f9;
  padding: 5px;
  border: solid 1px #eee;
  outline: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.h1,
h1 {
  font-size: 28px;
  line-height: 32px;
}

.h2,
h2 {
  font-size: 23px;
  line-height: 32px;
}

.h3,
h3 {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -1px;
}

.h4,
h4 {
  font-size: 17px;
  line-height: 21px;
}

.h5,
h5 {
  font-size: 16px;
  line-height: 20px;
}

.h6,
h6 {
  font-size: 15px;
  line-height: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.font-2 {
  font-family: "Open Sans";
}

.font-3 {
  font-family: "Dosis";
}

.breadcrumb {
  display: inherit;
  background: none;
}

.breadcrumb li {
  display: inline-block;
  margin-right: 5px;
}

/*--- Text Color ---*/
.text-main-color {
  color: #0864b2;
}

.text-title-large {
  font-size: 40px;
  line-height: 44px;
  font-weight: bold;
}

.white-bg {
  background-color: #ffff;
  padding: 20px;
}


/*
===============================
    [03. Widget]
===============================
*/
.widget {
  margin-bottom: 40px;
  border: 1px solid #eeeded;
  padding: 30px;
  background-color: #fff;
}

.margin-right-widget {
  margin-right: 15px;
}
.width-widget {
  width: 60px;
}

.widget h4.widget-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #0864b2;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}

.widget h4.widget-title span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  background-color: #fff;
}

.widget h4.widget-title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  height: 1px;
  width: 100%;
  background-color: #eeeded;
}

.widget ul.last-posts {
  padding: 0;
  margin: 0;
  list-style: none;
}

.widget ul.last-posts li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #eeeded;
}

/*
===============================
    [04. Footer]
===============================
*/
.footer {
  background: #0093dd;
  ;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-footer {
  color: #ffff;
}

.link-footer:hover {
  color: #5e5c5b;
  text-decoration: none;
}

.linklink-footer:link {
  color: #ffff;
}

.link-footer:active {
  color: #ffff;
}

.link-footer:visited {
  background: #ffff;
}

.widget_categories ul.children li {
  border-bottom: none;
}

.widget_categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.widget_categories ul>li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #eeeded;
  text-transform: capitalize;
}

.widget_categories ul>li a {
  color: #424242;
}

/*
===============================
    [05. Blog]
===============================
*/
.card-wrapper {
  margin-bottom: 30px;
  padding-top: 100px;
}

.card-image .card .card-img-wrapper {
  height: 100%;
}

.card-image .card .card-body {
  display: none;
}

.card-image-title-description .card .card-img-wrapper {
  max-height: 160px;
}

.card-image-title-description .card {
  position: relative;
  min-height: 300px;
}

.card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
}

.card-image-title-description .card:hover .card-body {
  top: -70px;
}

.card-image-title-description .card .card-body .card-title {
  margin-bottom: .75rem;
}

.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 100%;
}

.card:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}

.card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}

.card-img-wrapper img {
  transition: 1.5s ease;
  height: 247px;
  width: 350px;
}

.card:hover .card-img-wrapper img {
  transform: scale(1.15);
}

.card-body .card-title {
  margin-bottom: calc(50% + 20px);
  transition: 1.5s ease;
}

.card:hover .card-body .card-title {
  margin-bottom: .75rem;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #fff;
  transition: 1.5s ease;
}

.card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
}

.card:hover .card-body {
  height: 75%;
}

.card:hover .card-content {
  bottom: 0;
}

.card-text {
  text-align: justify;
}

.col-lg-4 {
  padding-bottom: 20px;
}

/* ===============================
    [06. Assets & Typography]
================================== */
.opacity {
    opacity: 0.7 !important;
}

.kategori {
    padding-top: 90px; padding-bottom: 90px;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

/* card-qna */
.card-qna {
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

/* tagline homepage */
.tagline {
  padding-top: 440px;
}
  
.card-tagline {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  padding:10px;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2)
}

.sm-mb-30px {
  margin-bottom: 30px !important;
}

.pad-top {
  padding-top: 50px;
}

.pad-bott {
  padding-bottom: 100px;
}

/* button info form page pindah keluar & kedatangan */
.btn-info {
  /* font-family: Raleway-SemiBold; */
  font-size: 14px;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}


/* Geografis Kependudukan */
.iframe-rwd  {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
  /* margin-right: -4px; */
}

/* Scroll to Up */
#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#e74c3c;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

/*------------------------------------------
  Responsive Grid Media 
--------------------------------------------*/
@media screen and (min-width: 999px) {
  .jadikecilya {
    display: none;
  }

}

@media screen and (max-width: 999px) {
  .jadibesarya {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #hapus {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

/* Scroll Down */
.scroll-down {
  height: 50px;
  width: 30px;
  /* border: 2px solid white; */
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 4px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
