/*!
 * Design Custom @alvicky__
 *
 */
/*
 ===================================
 Initial Css
 ===================================
*/

html {
	height: 100%;
}

section {
	/*margin-top: 50px;*/
}

.bg-body-photo {
	background-image: url('../img/background/bg-photo.jpg');
	/*-webkit-background-size: 100%;
    width: 100%;
    height: 100%;*/
	background-size: cover;
	min-height: 100%;
}

.bg-body-2 {
	background: #dedede;
}

.bg-body-contact {
	background-image: url('../img/background/bg-contact.jpg');
	/* -webkit-background-size: 100%; */
	/* width: 100%;
    height: 100%; */
	background-size: cover;
	min-height: 100%;
}

.bg-body-service {
	background-image: url('../img/background/bg-service.jpg');
	/* -webkit-background-size: 100%; */
	/* width: 100%;
    height: 100%; */
	background-size: cover;
	min-height: 100%;
}

.bg-body-package {
	background-image: url('../img/background/bg-package.jpg');
	/* -webkit-background-size: 100%; */
	/* width: 100%;
    height: 100%; */
	background-size: cover;
	min-height: 100%;
}

.bg-about-us {
	background: grey;
}



/*
 ===================================
 [1] Navbar 
 ===================================
*/
nav {
	font-size: 14px;
	text-transform: uppercase;
}

.bg-navbar-banaran {
	font-weight: bold;
	background:  rgb(15, 157, 182);
}

.navbar-banaran .navbar-brand {
	/*padding: 5px;*/
	color: rgb(25, 208, 240);
}

.navbar-banaran .navbar-brand:hover,
.navbar-banaran .navbar-brand:focus {
	color: rgb(25, 208, 240);
}

.navbar-banaran .navbar-nav .nav-link {
	color: #212222;
}

.navbar-banaran .navbar-nav .nav-link:hover,
.navbar-banaran .navbar-nav .nav-link:focus {
	color: #5e5c5b;
}

.navbar-banaran .navbar-nav .nav-link.disabled {
	color: rgb(72, 74, 75);
}

.navbar-banaran .navbar-nav .show>.nav-link,
.navbar-banaran .navbar-nav .active>.nav-link,
.navbar-banaran .navbar-nav .nav-link.show,
.navbar-banaran .navbar-nav .nav-link.active {
	color: #5e5c5b;
}

.navbar-banaran .navbar-toggler {
	color: #5e5c5b;
	/*border-color: #5e5c5b;*/
}

.navbar-banaran .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 252, 252)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-banaran .navbar-text {
	color: rgba(255, 255, 255, 0.5);
}

.navbar-banaran .navbar-text a {
	color: #212222;
}

.navbar-banaran .navbar-text a:hover,
.navbar-banaran .navbar-text a:focus {
	color: #5e5c5b;
}

/*
 ===================================
 [2] Header Event
 ===================================
*/
.single-blog {

}

.single-blog .jumbotron {
	/*height: 86.6vh;*/
	/*max-height: 450px;*/
	position: relative;
	background: url('../img/event-header.jpg');
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.single-blog .jumbotron:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,transparent,black);
	opacity: .9; 
}

.header-event {
	color: #5e5c5b;
}

.header-event .title {
	position: relative;
	padding-top: 120px;
	/*padding-bottom: 120px;*/
}

.header-event .title h4 {
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 35px;
}

.header-event .subtitle {
	padding: 0;
	color: #eee;
}

.header-event .subtitle span {
	font-weight: bold;
	margin: 50px;
	color: #B0B0B0;
}

.header-event .subtitle .author {
	margin-top: 100px;
	padding: 0px;
}

.header-event .subtitle .box {
	border-width: 1px;
	border-style: dashed;
	border-color: #5e5c5b;
}

.header-event .subtitle .box .next-story {
	padding: 5px;
	color: #5e5c5b;
}

/*
 ===================================
 [3] Widget & Content 
 ===================================
 **For Single Blog 
*/
/*.left-widget {*/
	/*border-right-style: solid;
	border-right-width: 5px;*/
	/*color: #5e5c5b;*/
/*}*/

/*.left-widget .team {
	font-size: 17px;
	color: black;
	border-bottom-style: dashed;
	border-bottom-width: 5px;
	margin-bottom: 30px;
	color: #5e5c5b;
}

.left-widget .team p {
	color: black;
}

.left-widget .team h4 {
	font-weight: bolder;
	color: #5e5c5b;
}
*/
.single-blog .content-wrapper {
	/*background: white;*/
	padding: 100px;
	padding-top: 0;
	/*padding-left: 50px;*/
/*	border-left-style: solid;
	border-left-width: 5px;*/
	color: #5e5c5b;
}

.single-blog .content-wrapper .content {
	/*padding: 50px;*/
	/*box-shadow: 5px 5px grey;*/
	/*padding-top: 0;*/
	background: white;
}

.single-blog .content-wrapper .content p {
	color: black;
}

.single-blog .content-wrapper .content h4 {
	font-weight: bold;
}

.single-blog .content-wrapper .footer-content {
	border-top-style: solid;
	border-top-color: #ede8e8;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ede8e8;
	border-bottom-width: 1px;
	margin-top: 50px;
}




/*
 ===================================
 [3] HomePage
 ===================================
 **For Home 
*/
.new-post {

}

.new-post h4 {
    font-weight: bold;
    font-size: 35px;
    border-bottom-width: 2px;
}

.new-post .hr {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.new-post .post-item {
	margin-top: 20px;

}

.new-post .post-item .item-title {
    font-size: 20px;
    color: #FF8A00;
    font-weight: 600;
}

.new-post .post-item .learn-more {
    margin-top: 20px;
}


.more-news {
    padding: 50px;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 22%, #fcfcfc 22%, #fcfcfc 38%, #d9d9d9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfcfc 22%,#fcfcfc 22%,#fcfcfc 38%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcfcfc 22%,#fcfcfc 22%,#fcfcfc 38%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */

}

.more-news .header {
    border-bottom-style: solid;
    border-bottom-color: #DBDBDB;
    border-bottom-width: 2px;
}

.more-news .more-news-item {
    margin-top: 20px;
}


.more-news .more-news-item .category {
    color: #FF8A00;
    font-weight: 700;
}

.more-news .more-news-item .title {
    color: black;
    font-weight: 600;
    margin-top: 5px;
}


.more-news .more-news-item .description {
    font-weight: 500;
}

.more-news .more-news-item .post-date {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 400;
}

/*.team h4 {
	letter-spacing: 4px;
	font-weight: bold;
    font-size: 35px;
    border-bottom-width: 2px;
}

.team .row {
	margin-top: 30px;
}

.team .card {
	margin-top: 30px;
}*/

.lastest-event {
	/*margin-top: */
}



/*
===================================
Lastest Event
===================================
*/
.lastest-event h4 {
	/*margin-top: */
	letter-spacing: 4px;
	font-weight: bold;
    font-size: 35px;
    border-bottom-width: 2px;
}

.lastest-event h2 {
	font-weight: 500;
	text-transform: uppercase;
}

.lastest-event h3 {
	color: #FF8A00;
}

.lastest-event p {
	font-weight: 400;
	font-size: 15px;
	transition: .3s;
}

.lastest-event .col-event-img {
	width: 100%;
	display: block;
    height: 245px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: inset 0px -195px 142px -79px rgba(0,0,0,.49);
    -moz-box-shadow: inset 0px -195px 142px -79px rgba(0,0,0,.49);
    -ms-box-shadow: inset 0px -195px 142px -79px rgba(0,0,0,.49);
    -o-box-shadow: inset 0px -195px 142px -79px rgba(0,0,0,.49);
    box-shadow: inset 0px -195px 142px -79px rgba(0,0,0,.49);
    box-sizing: border-box;
}

.lastest-event .overlays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, .6);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
    
}

.overlays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
    
}

.lastest-event .event-img {
	width: 130%;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, .49);
    -moz-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, .49);
    -ms-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, .49);
    -o-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, .49);
    box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, .49)
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.lastest-event img {
    vertical-align: middle;
    border-style: none;
}

.lastest-event .col-event-img:hover .event-img {
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.lastest-event .col-event-img:hover .overlays {
	opacity: 0;
}

.lastest-event .col-event-img .event-post {
	position: absolute;
	right: 0;
	top: 0;
}

.lastest-event .col-event-img .event-post small {
    font-weight: 400;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
}

.lastest-event .col-event-img .event-body {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 15px;
}

.lastest-event .col-event-img .event-body h3 {
	font-size: 16px;
	color: #FF8A00;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.lastest-event .col-event-img .event-body .date-description {
	font-size: .8em;
	color: #fff;
	text-transform: uppercase;
}

.lastest-event .col-event-img .event-body .price {
	font-size: 18px;
	color: #FFDD00;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.lastest-event .col-event-img .event-body .price small {
	font-size: 10px;
	font-weight: 500;
	color: #fff;
}

.lastest-event .col-event-img .event-body .book-btn .btn-xs {
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 10px;

}


.lastest-event .book-btn .btn-xs {
	font-size: 14px;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 10px;
}

.lastest-event .book-btn .btn-xs:hover {
	background: #286090;
	color: white;
	border: 1px solid #286090;
	transition: .3s;
}

@media screen and (max-width: 574px) {
	.lastest-event .col-event-img .event-body .price {
		margin-bottom: 10px;
	}
	.lastest-event .col-event-img .event-body .book-btn .btn-xs {
		font-size: 15px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 790px) {
	.lastest-event h2 {
		font-size: 27px;
	}

	.lastest-event p {
		font-size: 15px;
	}
}


/*
 ===================================
 [4] Section Our Team
 ===================================
*/
section.about-us {
	margin-top: 100px;
}

section.about-us h1 {
	font-size: 40px;
	font-weight: bold;
}

section.about-us .description {
	font-size: 16px;
	font-family: arial;
	margin-top: 40px;
	color: black;
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-bottom-color: #5e5c5b;
}

section.our-team {
	/*background: grey;*/
}

/*
 ===================================
 [5] Section Photos
 ===================================
*/
.header-photos {
	color: #5e5c5b;
}

.header-photos .title {
	padding-top: 100px;
	/*padding-bottom: 120px;*/
}

.header-photos .title h1 {
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 35px;
}

.header-photos .subtitle {
	padding-top: 275px;
	color: #eee;
}

.header-photos .subtitle span {
	/* font-weight: bold; */
	font-size: 30px;
	margin: 50px;
	color: #5e5c5b;
}

.header-photos .subtitle .author {
	margin-top: 100px;
	padding: 0px;
}

.header-photos .subtitle .box {
	border-width: 1px;
	border-style: dashed;
	border-color: #5e5c5b;
}

.header-photos .subtitle .box .next-story {
	padding: 5px;
	color: #5e5c5b;
}

.header-photos .photo {
	position: relative;
	opacity: 0.8;
	padding-top: 25px;
	padding-bottom: 550px;
}

.header-photos .row {
	opacity: none;
	position: absolute;
	top: 825px;

}

/*
 ===================================
 [6] Section Package
 ===================================
*/

.package {
	/* background: url('../img/background/bg-package.jpg');
	background-size: cover;
	background-position: center; */
	padding-bottom: ;
}

.package .title {
	color:#FFA71A;
	padding-top: 50px;
}

.package .title h1 {
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 35px;
}

.package .package-about {
	background: transparent;
	width: 100%;
	border-color: transparent;
}

.package hr {
		border: 0;
		border-top: 3px dashed #5e5c5b;
		text-align: center;
		padding-top: 100px !important;
		margin-top: 50px !important;
}

.package .padding {
	margin-bottom: -85px;
}


.package .package-card {
	border-radius: 1rem;
	border: 0px;
}

.package .package-card .img-card {
	max-width: 90%;
	max-height: 90%;
}

.package .package-card .card-box-custom {
	padding: 0px;
	height: 50px;
	border: 0px;
	background: #ffff01;
	background-image: linear-gradient(135deg, #d0cb1d8a 0%, rgb(255, 146, 7) 100%);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.package .package-card .card-box-custom .btn-container-price {
	padding-right: 0px;
	max-width: 35%;
}

.package .package-card .card-box-custom .btn-container-price .btn-shape-price {
	height: 50px;
	background-color: #ffd600;
	background-image: linear-gradient(135deg, #d0cb1d8a 0%, rgb(229, 130, 5) 100%);
	border-top-left-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 1rem;
}

.package .package-card .card-box-custom .btn-container-price .btn-shape-text {
	max-width: 45%;
	font-weight: 500;
	text-align: center;
}

/*
 ===================================
 [7] Section Service
 ===================================
*/

/*
 ===================================
 [8] Section Contact
 ===================================
*/
.section-contact {
	/* background: url(../img/background/bg-contact.png) no-repeat; */
	/* background-size: cover;  */
	background-position: center;
}

.section-contact .title {
	color:#5e5c5b;
}

.section-contact .title h1 {
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 35px;
}

.section-contact hr {
	border: 0;
	border-top: 3px dashed #5e5c5b;
	text-align: center;
	padding-top: 100px !important;
	margin-top: 50px !important;
}

.section-contact .contact-wrapper {
	background: transparent;
	width: 100%;
	border-color: transparent;
	padding-top: 50px;
}

.section-contact .form-contact {
	border-radius: 2rem;
	margin: 2rem;
}

.section-contact .form-contact .input-contact {
	border-radius: 2rem;
	margin: 2rem;
}

/*
 ===================================
 [9] Footer
 ===================================
*/

.footer {
	background: rgb(15, 157, 182);
	padding-top: 20px;
	padding-bottom: 20px;
}


input.transparent-input {
	background-color: rgb(25, 208, 240) !important;
	color: rgb(169, 154, 131);
	text-decoration-color: rgb(169, 154, 131);
	;
}

.link-footer {
	color: #212222;
}

.link-footer:hover {
	color: #5e5c5b;
	text-decoration: none;
}

.linklink-footer:link {
	color: #212222;
}

.link-footer:active {
	color: #212222;
}

.link-footer:visited {
	background: #212222;
}

/*
 ===================================
 [10] Responsive 
 ===================================
*/


@media screen and (max-width: 991px) {
	.header-event .title {
		padding: 40px;
	}

	.single-blog .content-wrapper {
		padding: 15px;
		padding-top: 0px;
		color: #5e5c5b;
	}

	section#content {
		margin-top:0;
	}


	.header-event .title .author.text-left {
		text-align: center !important;
	}

	.header-event .title .author {
		margin-top: 25px;
	}

}

@media screen and (max-width: 793px) {
	.header-event .title {
		padding: 10px;
	}
}

@media screen and (max-width: 576px) {
	.header-event .title {
		padding: 0;
		margin-top: 20px;
	}

	.header-event .title h4 {
		letter-spacing: 1px;
		font-weight: bolder;
		font-size: 25px;
	}

	.header-event .subtitle span {
		display: none;
	}
}

/*
 ===================================
 [ll] css tambahane lutpi 
 ===================================
*/

.judul {
	color: rgb(25, 208, 240);
	text-align: center;
	margin-top: 5%;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.isi {
	color: rgb(0, 0, 0);
	text-align: center;
	margin-top: 5%;
}

.isi hr {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: dashed;
	border-width: 1px;
	color: rgb(25, 208, 240);
}

.section-service .card {
	border-radius: 10px;
	height: 150px;
	margin: 30px;
	box-shadow: 0px 0px 4px 0px #888888;
	border: 0px;
}

.service .card-text {
	color: #5e5c5b;
	font-weight: bold;
}


/*
 ===================================
 [8] Section Service
 ===================================
*/
.section-service {
	/* background: url(../img/background/bg-contact.png) no-repeat; */
	/* background-size: cover;  */
	background-position: center;
}

.section-service .title {
	color:#5e5c5b;
	padding-top: 100px;
}

.section-service hr {
		border: 0;
		border-top: 3px dashed #5e5c5b;
		text-align: center;
		padding-top: 100px !important;
		margin-top: 50px !important;
}

.section-service .title h1 {
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 35px;
}

.section-service .service {
	padding-bottom: 500px;
}

.section-service .card {
	border-radius: 10px;
	height: 150px;
	margin: 50px;
	box-shadow: 0px 0px 4px 0px #888888;
	border: 0px;
}

.section-service .service .card img{
	width: 60px;
	margin-left: auto;
	margin-right: auto;
}



/*
 ===================================
 [ll] Komponen style
 ===================================
*/



/* hr:after {
	margin-top: 100px;;
} 
*/
#news-2, #news-3, #news-4, #news-5{
	display:none;
}

#client-logos .item {
    margin: 1px;
}
.cover-wrapper {
    padding: 75px;
}
.client-inners img {
    height: 100%;
    object-fit: contain;
}
.client-inners {
    border: 1px solid #ccc;
    height: 85px;
    text-align: center;
    padding: 8px;
}
.owl-nav img {
    width: 34px;
}
.owl-prev img {
    position: absolute;
    left: -38px;
    top: 50%;
    margin-top: -20px;
}
.owl-next img {
    position: absolute;
    right: -38px;
    top: 50%;
    margin-top: -20px;
}